# Heart disease predection using Logistic Regression

In [316]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [317]:
data=pd.read_csv("datasets_222474_478459_framingham_heart_disease.csv")
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [318]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [319]:
data["education"].fillna(data["education"].mean(),inplace=True)
data["cigsPerDay"].fillna(data["cigsPerDay"].mean(),inplace=True)
data["BPMeds"].fillna(data["BPMeds"].mean(),inplace=True)
data["totChol"].fillna(data["totChol"].mean(),inplace=True)
data["BMI"].fillna(data["BMI"].mean(),inplace=True)
data["glucose"].fillna(data["glucose"].mean(),inplace=True)
data["heartRate"].fillna(data["heartRate"].mean(),inplace=True)

In [320]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   float64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [321]:
x=data.iloc[:,0:15].values
y=data.iloc[:,15:16].values

In [322]:
print(x)
print(y)

[[  1.          39.           4.         ...  26.97        80.
   77.        ]
 [  0.          46.           2.         ...  28.73        95.
   76.        ]
 [  1.          48.           1.         ...  25.34        75.
   70.        ]
 ...
 [  0.          48.           2.         ...  22.          84.
   86.        ]
 [  0.          44.           1.         ...  19.16        86.
   81.96675325]
 [  0.          52.           2.         ...  21.47        80.
  107.        ]]
[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]

In [323]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=3)

In [324]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [325]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(solver="lbfgs")

In [326]:
classifier.fit(xtrain,ytrain)

C:\Users\sumith\anaconda3\annakonda\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [327]:
ypred=classifier.predict(xtest)

In [328]:
from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(ytest,ypred)
print(cm)

[[719   4]
 [114  11]]

In [329]:
r=classification_report(ytest,ypred)
print(r)

              precision    recall  f1-score   support

           0       0.86      0.99      0.92       723
           1       0.73      0.09      0.16       125

    accuracy                           0.86       848
   macro avg       0.80      0.54      0.54       848
weighted avg       0.84      0.86      0.81       848